spring:
  application:
    name: consigna
  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        #        default_schema: consigna
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    open-in-view: false
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${EMAIL_USER}
    password: ${EMAIL_PASSWORD}
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true
logging:
  level:
    com.consigna.consigna: INFO
    org.hibernate.SQL: DEBUG

# Configurações para JSON Web Token (JWT)
jwt:
  # EM PRODUÇÃO, use uma variável de ambiente ou um cofre de segredos (Vault)
  secret: ${JWT_SECRET}
  expiration: 14400000
server:
  port: ${PORT}