spring:
  autoconfigure:
    exclude: org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration, org.springframework.boot.autoconfigure.jdbc.DataSourceTransactionManagerAutoConfiguration
  application:
    name: consigna
  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${JDBC_DATABASE_URL}
    username: ${JDBC_DATABASE_USERNAME}
    password: ${JDBC_DATABASE_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        default_schema: consigna
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    open-in-view: false
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
  mail:
    host: smtp.gmail.com
    port: 587
    username: consignauepg2025@gmail.com
    password: "*Consigna25"
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true
logging:
  level:
    com.consigna.consigna: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate: DEBUG
    com.zaxxer.hikari: DEBUG

# Configurações para JSON Web Token (JWT)
jwt:
  # EM PRODUÇÃO, use uma variável de ambiente ou um cofre de segredos (Vault)
  secret: "f4$S2jH_pZ9yLq7xM6bG_kT3vE8aC1dX"
  expiration: 14400000
server:
  port: 24593

